In [44]:
# Python program to read
# json file
 
import json
import pandas as pd
# Opening JSON file
#f = open('gz_2010_us_050_00_500k.json')
 
# returns JSON object as
# a dictionary
#data = json.load(f)

#df1 = pd.read_json('pandemic-tracker-1b4e2-default-rtdb-countyList-export.json')


#df2 = pd.read_json('us-county-boundaries.json')

    # validate-utf8 gz_2010_us_050_00_20m.json
df3 = pd.read_json('gz_2010_us_050_00_20m.json', encoding = "ISO-8859-1")

fn = 'gz_2010_us_050_00_20m.json'
fh = open(fn,'rb')
s = fh.read().decode('ISO-8859-1')
fn = 'counties.json'
fh = open(fn,'w')
fh.write(s)
fh.close()
df3 = pd.read_json('gz_2010_us_050_00_20m.json', encoding = "ISO-8859-1")



# Iterating through the json
# list
#for i in data['name']:
#    print(i)
# Closing file
#f.close()
#type(data)

In [30]:
df1.head()

   cases       date deaths    id     name population    state
0  10457 2021-11-19    156  1001  Autauga      58805  Alabama
1  37959 2021-11-19    586  1003  Baldwin     231767  Alabama
2   3660 2021-11-19     79  1005  Barbour      25223  Alabama
3   4333 2021-11-19     93  1007     Bibb      22293  Alabama
4  10621 2021-11-19    190  1009   Blount      59134  Alabama

In [31]:
df2.head()

,datasetid,recordid,fields,geometry,record_timestamp
0,us-county-boundaries,47076cddf988de41669ef0526be6e050c955918a,"{'intptlat': '+41.0004711', 'countyfp_nozero':...","{'type': 'Point', 'coordinates': [-83.66653540...",2019-10-24T05:06:14.852-04:00
1,us-county-boundaries,69335098c3145455819f16a7bbabb70690cb1ec6,"{'intptlat': '+38.4132608', 'countyns': '01480...","{'type': 'Point', 'coordinates': [-77.45740038...",2019-10-24T05:06:14.852-04:00
2,us-county-boundaries,cdd1f341c335593ad601bc04d1ba9c7dc8e8db7d,"{'intptlat': '+40.1806461', 'countyfp_nozero':...","{'type': 'Point', 'coordinates': [-98.49994737...",2019-10-24T05:06:14.852-04:00
3,us-county-boundaries,45b77b541320b2e319808cd96e4d59fe24f80ae2,"{'intptlat': '+28.4235871', 'countyfp_nozero':...","{'type': 'Point', 'coordinates': [-99.75672612...",2019-10-24T05:06:14.852-04:00
4,us-county-boundaries,78ca9a818f7fd850753b89f09cee0a3bfc5465e4,"{'intptlat': '+41.7723600', 'countyfp_nozero':...","{'type': 'Point', 'coordinates': [-91.13242304...",2019-10-24T05:06:14.852-04:00

In [45]:
# https://telliott99.blogspot.com/2020/06/geojson.html
df3.head()

,properties,geometry
0,"{'GEO_ID': '0500000US01001', 'STATE': '01', 'C...","{'type': 'Polygon', 'coordinates': [[[-86.4967..."
1,"{'GEO_ID': '0500000US01009', 'STATE': '01', 'C...","{'type': 'Polygon', 'coordinates': [[[-86.5777..."
2,"{'GEO_ID': '0500000US01017', 'STATE': '01', 'C...","{'type': 'Polygon', 'coordinates': [[[-85.1841..."
3,"{'GEO_ID': '0500000US01021', 'STATE': '01', 'C...","{'type': 'Polygon', 'coordinates': [[[-86.5173..."
4,"{'GEO_ID': '0500000US01033', 'STATE': '01', 'C...","{'type': 'Polygon', 'coordinates': [[[-88.1399..."